@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.logo {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 40%;
    border: 3px solid #8d6e63;
    border-radius: 50px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover {
    text-decoration: none;
    color: grey;
}

.rightNav {
    width: 40%;
    padding: 0 23px;
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.box-main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
}

.firstSection {
    height: 100vh;
}

.firstHalf {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondHalf {
    width: 30%;
}

.secondHalf img {
    width: 70%;
    border: 4px solid #868181;
    border-radius: 400px;
    display: block;
    margin: auto;
}

.text-big {
    font-size: 38px;
}

.text-small {
    font-size: 18px;
    padding: 20px 0;
}

.btn {
    padding: 8px 20px;
    margin: 8px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

.btn-sm {
    padding: 3px 10px;
    vertical-align: middle;
}

.btn-dark {
    color: black;
    border: 2px solid grey;
}

.section-left {
    flex-direction: row-reverse;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    background-color: aliceblue;
    background-blend-mode: darken;
    padding: 10px;
}

.paras {
    padding: 0 69px;
}

.sectionTag {
    padding: 16px 0;
}

.sectionSubTag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 18px;
}

.thumbnail img {
    width: 250px;
    border: solid black;
    border-radius: 20px;
    margin-top: 19px;
}

hr.linee {
    border: 2px solid black;
}

hr.lineeup {
    border: 0.09px solid rgb(184, 182, 182);
}

.contact {
    background-color: rgb(239, 240, 238);
    height: 660px;
}

.text-center {
    text-align: center;
    padding: 26px 63px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
}

.form {
    max-width: 501px;
    margin: 19px auto;
}

.form-input {
    margin: 14px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-footer {
    text-align: center;
    padding: 30px 0;
    color: white;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    display: flex;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}